@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pixelify;
  src: url(../public/fonts/Pixelify/PixelifySans-VariableFont_wght.ttf);
}

* {
  font-family: Pixelify;
}

.button {
  transition: box-shadow transform;
  transition-duration: 500ms;

  &:hover {
    box-shadow: 0 0 #0000, 0 0 #0000, 0.375rem 0.375rem hsl(0 0% 9%);
  }

  &:active {
    box-shadow: 0 0 #0000, 0 0 #0000, 0.1875rem 0.1875rem hsl(0 0% 9%);
  }
}
